doctype html
html
  head
    meta(charset="utf-8")
    title GPC Knockout Widgets Test Page
    include ../dist/treeview/templates.include.jade
    script(src="scripts/knockout/knockout-3.0.0.debug.js")
    script(src="scripts/knockout/knockout.mapping-latest.debug.js")
    script(src="scripts/underscore/underscore.js")
    script(src="scripts/gpc/ko_widgets/treeview/treeview.js")
    link(rel="stylesheet",href="scripts/gpc/ko_widgets/treeview/treeview.css")
    script(type="text/html", id="tmplNumericField").
      <input type="number", data-bind="value: value, valueUpdate: 'input'"></input>
    script(type="text/html", id="tmplBooleanField").
      <input type="checkbox", data-bind="checked: value"></input>
    script(type="text/html", id="tmplStringField").
      <input type="text", data-bind="value: value"></input>
  body
    div(style="float:left", data-bind="template: {name: 'gktvTree', data: treeView }")
    script(src="main.js")
    div(style="float: right")
      input(type="button" onclick="test()" value="Click me!")