doctype html
html
  head
    meta(charset="utf-8")
    title GPC Knockout Widgets Test Page
    script(src="scripts/underscore/underscore.js")
    script(src="scripts/knockout/knockout-3.1.0.js")
    script(src="scripts/knockout/knockout.mapping-latest.js")
    script(src="scripts/gpc/kowidgets/treeview/treeview.js")
    link(rel="stylesheet",href="scripts/gpc/kowidgets/treeview/treeview.css")
    script(src="scripts/gpc/kowidgets/sketchpad/sketchpad.js")
    link(rel="stylesheet",href="scripts/gpc/kowidgets/sketchpad/sketchpad.css")
    script(src="scripts/gpc/kowidgets/commandpanel/commandpanel.js")
    link(rel="stylesheet",href="scripts/gpc/kowidgets/commandpanel/commandpanel.css")
    script(type="text/html", id="tmplNumericField").
      <input type="number", data-bind="value: value, valueUpdate: 'input'"></input>
    script(type="text/html", id="tmplBooleanField").
      <input type="checkbox", data-bind="checked: value"></input>
    script(type="text/html", id="tmplStringField").
      <input type="text", data-bind="value: value"></input>
    script(type="text/html", id="tmplRow").
      <div data-bind="foreach: ko.unwrap(value)">
        <span data-bind="text: $data">...</span>
      </div>
    link(rel="stylesheet",href="test.css")
    script(src="main.js")
    
  body(onload="start()")
    div.navigation
      ul
        li(data-bind="css: { selected: page() === 'TreeView'     }, click: goTreeView"    ) TreeView
        li(data-bind="css: { selected: page() === 'SketchPad'    }, click: goSketchPad"   ) SketchPad
        li(data-bind="css: { selected: page() === 'CommandPanel' }, click: goCommandPanel") CommandPanel
          
    div(data-bind="if: page() === 'TreeView'")
      div(data-bind="template: { name: 'gktvTreeView', data: treeview }")
      div(style="float: right")
        input(type="button" onclick="test()" value="Click me!")
      div(style="clear: both")
      
    div(data-bind="if: page() === 'SketchPad'")
      h1 Hello SketchPad
      div(data-bind="template: { name: 'gkspSketchPad', data: sketchpad }")

    div(data-bind="if: page() === 'CommandPanel'")
      h1 Hello CommandPanel
      div(data-bind="template: { name: 'gkcpCommandPanel', data: commandpanel }")
