div.command-panel {
  box-sizing: border-box;
  background-color: yellow;
  opacity: 0.5;
  position: fixed;
  //top: 0;
  //bottom: 0;
  right: 20px;
  width: 300px;
  padding: 0.5em;
}

button-color = silver;

.command-button {
  padding: 0.15em;
  border: 0.1em solid black;
  background-color: button-color;
  cursor: default;
  
  &:hover { background-color: hsl(hue(button-color), saturation(button-color), lightness(button-color)+20%); }
}