div.command-panel {

  display: block;
  position: relative;
  left: 0;
  right: 0;
  top: 25px; // for testing
  
  background-color: rgb(200,255,0); // for debugging only
  
  > *.group {
    box-sizing: border-box;
    padding: 0.5em;
    background-color: yellow;
    position: absolute;
    left: 15px;
    right: 5px;
    //transform: translateY(-50%);
  }

  .bracket {
    box-sizing: border-box;
    position: absolute;
    //background-color: yellow; // TODO
    border: solid 2px black;
    border-left: none;
    border-top-right-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
    left: 0;
    width: 6px;
    
    &.level-2 { left: 8px; }
    &.level-3 { left: 16px; }
  }
  
  button-color = silver;

  .command-button {
    margin: 0.15em 0;
    padding: 0.15em;
    border: 0.1em solid black;
    background-color: button-color;
    cursor: default;
    
    &:hover { background-color: hsl(hue(button-color), saturation(button-color), lightness(button-color)+20%); }
    
    opacity : 0.5;
    &.enabled { opacity: 1; }
  }

}