//- TODO: this needs to be converted into a proper, named template (i.e. a widget)

div.gpc-ko-widget.sketchpad(data-bind="gpc_kowidgets_designer: $data")
  div.zoom_factor
  div.container(data-bind="event: { mousedown: mouseDown, mouseup: mouseUp, mousemove: mouseMove, mouseout: mouseOut }, style: { width: (width()+2*margin())+'px', height: (height()+2*margin())+'px' }")
    canvas.display(data-bind="attr: { width: width, height: height }, style: { left: margin()+'px', top: margin()+'px' }")
    canvas.overlay(data-bind="attr: { width: width()+2*margin(), height: height()+2*margin() }")