script(type="text/html", id="gpckoTreeView")
  div.gpc-ko-widget.treeview(data-bind="template: { name: 'gpckotvNode' }")
  
script(type="text/html", id="gpckotvNode")
  h1(data-bind="text: name")
  // ko if: !!$data.children
  ul(data-bind="foreach: children")
    li(data-bind="template: { name: 'gpckotvNode' }")
  // /ko 