script(type="text/html", id="gktvTree")
  // ko if: showRoot
  div.gpc-ko-widget.treeview(data-bind="template: { name: 'gktvNode', data: rootNode }")
  // /ko
  // ko ifnot: showRoot
  div.gpc-ko-widget.treeview(data-bind="template: { name: 'gktvNodeContent', data: rootNode }")
  // /ko
  
script(type="text/html", id="gktvNodeContent")
  // ko if: !!$data.children
  ul.children(data-bind="foreach: children")
    li(data-bind="template: { name: 'gktvNode' }")
  // /ko   
    
script(type="text/html", id="gktvNode")
  div.node(data-bind="css: 'level'+level, css: { open: open(), closed: !open() }")
    div.header
      // ko if: !leaf()
      span.handle(data-bind="click: onClick")
      // /ko
      span.label(data-bind="text: label, event: { mouseover: onMouseOverLabel, mouseout: onMouseLeaveLabel }")
    // ko template: { name: 'gktvNodeContent' }
    // /ko