script(type="text/html", id="gktvTree")
  // ko if: showRoot
  div.gpc-ko-widget.treeview(data-bind="template: { name: 'gktvNode', data: rootNode }")
  // /ko
  // ko ifnot: showRoot
  div.gpc-ko-widget.treeview(data-bind="template: { name: 'gktvNodeChildren', data: rootNode }")
  // /ko
  
script(type="text/html", id="gktvNodeChildren")
  // ko if: !!$data.children
  ul.children(data-bind="style: { 'margin-left': indent()+'px' }, foreach: children")
    li(data-bind="template: { name: 'gktvNode' }")
  // /ko   
    
script(type="text/html", id="gktvNode")
  div.node(data-bind="css: cssString()")
    table.header
      tbody
        tr.main
          // ko if: !leaf()
          td.handle(data-bind="click: onClick")
          // /ko
          td.label(data-bind="attr: { colspan: labelColspan() }, style: { width: labelWidthCss() }, text: label, event: { mouseover: onMouseOverLabel, mouseout: onMouseLeaveLabel }")
          // ko if: treeview.showValueColumn()
          td.value(data-bind="html: value")
          // /ko
    // ko template: { name: 'gktvNodeChildren' }
    // /ko