script(type="text/html", id="gktvTree")
  // ko if: showRoot
  div.gpc-ko-widget.treeview(data-bind="template: { name: 'gktvNode', data: rootNode }")
  // /ko
  // ko ifnot: showRoot
  div.gpc-ko-widget.treeview(data-bind="template: { name: 'gktvNodeChildren', data: rootNode }")
  // /ko
  
script(type="text/html", id="gktvNodeChildren")
  // ko if: !!$data.children
  ul.children(data-bind="foreach: children")
    li(data-bind="template: { name: 'gktvNode' }")
  // /ko   
    
script(type="text/html", id="gktvNode")
  div.node(data-bind="css: cssString()")
    div.header
      div.main
        // ko if: !leaf()
        div.handle(data-bind="click: onClick")
        // /ko
        div.label(data-bind="attr: { colspan: leaf() ? '2' : '1' }, text: label, event: { mouseover: onMouseOverLabel, mouseout: onMouseLeaveLabel }")
        // ko if: treeview.showValueColumn()
        div.value(data-bind="html: value")
        // /ko
    // ko template: { name: 'gktvNodeChildren' }
    // /ko