// TODO: move this into separate stylesheet

.gpc-ko-widget {
  font-family: Arial, Sans-Serif;
  display: inline-block;
  padding: 0.5em;
}

.gpc-ko-widget.treeview {

  // The tree view is based on an unnumbered list, but we remove the decorations and spacing
  
  ul.children {
    margin: 0;
    padding: 0;
    > li {
      list-style-type: none;
      margin-left: 0; // only for the root node, and only if it is not shown
    }
  }
  
  .node {
  
    // The "header" of a node is its first row, where its "handle", label and possibly 
    // additional columns are displayed
    
    > .header {

      display: table;
      
      border: 0;
      margin: 0;
      border-spacing: 0;
      
      // The "main" part of the header row is what contains the "handle" (to show/hide 
      // child nodes) and the "label". The "main" span is separate from any additional
      // ones because this is where indentation occurs, whereas subsequent columns
      // are aligned.
      
      > tbody > .main {
      
        overflow: hidden;
        
        box-sizing: border-box;
        white-space: nowrap;
        
        > * {
          display: inline-block;
        }
        
        > .handle {
          position: relative;
          top: 0px;
          width: 11+4px;
          height: 11px;
          background-repeat: no-repeat;
          user-select: none;
        }

        > .label {
          overflow: hidden;
          text-overflow: ellipsis;
          &:first-child: { padding-left: 0; }
        }
        
      } // > .main
      
      > .value {
        //padding: 1px 2px;
      }
      
      :not(:first-child) {
        margin-left: 0.15em;
      }
      
    } // > .header

    > .children {
      margin-left: 15px;
    }

  }
  
  .node {
    // TODO: generate those in a loop ?
    // Note: :not(:first-child) serves to compensate for the space taken by the "handle" if there is one
    /*
    &.level0 > .header .main > *:first-child { width: 200px; max-width: 200px; }
    &.level1 > .header .main > *:first-child { width: 185px; max-width: 185px; }
    &.level2 > .header .main > *:first-child { width: 170px; max-width: 170px; }
    &.level3 > .header .main > *:first-child { width: 155px; max-width: 155px; }
    &.level4 > .header .main > *:first-child { width: 140px; max-width: 140px; }
    &.level5 > .header .main > *:first-child { width: 125px; max-width: 125px; }
    &.level6 > .header .main > *:first-child { width: 125px; max-width: 125px; }
    &.level7 > .header .main > *:first-child { width: 125px; max-width: 125px; }
    &.level8 > .header .main > *:first-child { width: 125px; max-width: 125px; }
    &.level9 > .header .main > *:first-child { width: 125px; max-width: 125px; }
    */
  }
  
  // A node not explicitly marked as a "leaf" will have a "handle"
  
  .node.open {
    > .header .main .handle {
      background-image: url('minus.png');
    }
    > .children {
      display: block;
    }
  }
  .node.closed {
    > .header .main .handle {
      background-image: url('plus.png');
    }
    > .children {
      display: none;
    }
  }
  
}
 
// DEBUGGING -------------------
  
if (false)

  .gpc-ko-widget.treeview {

    background-color: orange;
    
    .node {
      background-color: rgba(0, 100, 255, 0.5);
    }
  }

.gpc-ko-widget.treeview {

  .node > .header {
    //.main > .label { background-color: orange; }
    //.value { background-color: lime; }
  }
}
