// TODO: move this into separate stylesheet

.gpc-ko-widget {
  font-family: Arial, Sans-Serif;
}

.gpc-ko-widget.treeview {

  background-color: orange;
  display: inline-block;

  padding: 0.5em;
  
  ul.children {
    margin: 0;
    padding: 0;
    > li {
      list-style-type: none;
      margin-left: 0; // if the root node is not displayed (only its children), there is no indent
    }
  }
  
  .node ul.children > li {
    margin-left: 1em; // in all nodes actually displayed, we indent the children
  }
  
  .node > .header {
    
    > .handle {
      position: relative;
      //top: 0.2em;
      display: inline-block;
      width: 11px;
      height: 11px;
      vertical-align: baseline;
      //background-color: yellow;
      //border: solid 0.1em black;
      //background-position: 50% 50%;
      background-repeat: no-repeat;
      //margin-right: 0.15em;
      user-select: none;
    }
    
    .label {
      margin: 0.15em;
    }
  }
  
  .node.open {
    > .header > .handle {
      background-image: url('minus.png');
    }
    > .children {
      display: block;
    }
  }
  .node.closed {
    > .header > .handle {
      background-image: url('plus.png');
    }
    > .children {
      display: none;
    }
  }
  
  // DEBUGGING
  
  .node {
    background-color: rgba(0, 100, 255, 0.5);
  }
}